/*Parent Element Inheritance*/
body {
	color: red;
}

/*Child Element Inheritance to the Parent Element*/
header {
	text-align: center;
	color: white;
}
main {
	color: black;
}

/*Grandchild Element to the Parent Element*/
main p {
	color: red;
}

footer p {
			color: blue;
}

div {
		border-radius: 5px;
		background-color: green !important;
}
#div {
		background-color: black;
}
