.flexbox{
    display: flex;
    flex-direction: column-reverse;
    background-color: blue;
    flex-wrap: wrap-reverse;
    flex: 1 200px;
    align-items: center;
    justify-content: space-around;
}